@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    margin: 0 5rem;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 1rem;
}

.navbar .nav-links ul li a {
    color: #000;
    font-weight: 700;
}

.navbar .nav-menu i {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: rgb(101, 95, 95);
}

.writtings {
    width: 50%;

}

.main-content {
    margin-bottom: 91px;

}

.title h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 27px;
    margin-left: 110px;
}

.title-writtings {
    margin-left: 110px;
    margin-block-start: 20px;
    width: 400px;
    font-family: 'Raleway', sans-serif;
    color: #6e6e6e;
    line-height: 30px;
    font-weight: 400;
    font-size: 15;
    margin-bottom: 20px;
}

.wb-starting {
    font-family: 'Raleway', sans-serif;
    display: flex;
}

.details {
    margin-left: 110px;
    margin-block-start: 30px;
    width: 400px;
    color: #6e6e6e;
}

.head {
    color: #6e6e6e;
    margin-block-end: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.opening-hours {
    margin-left: 110px;
    margin-block-start: 30px;
    width: 400px;
    color: #6e6e6e;

}

.op {
    color: #6e6e6e;
    margin-block-end: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.input-your-name {
    height: 45px;
    padding: 0 10px;
    border: 1px solid #F0F1F4;
    margin-left: 30px;
    width: 400px;
}

.input-email {
    height: 45px;
    padding: 0 10px;
    border: 1px solid #F0F1F4;
    margin-left: 10px;
    width: 400px;
}

.input-subject {
    height: 45px;
    padding: 0 10px;
    border: 1px solid #F0F1F4;
    margin-left: 30px;
    width: 840px;
    margin-block-start: 50px;
}

.input-message {
    height: 200px;
    border: 1px solid #F0F1F4;
    margin-left: 30px;
    width: 540px;
    margin-block-start: 50px;
    padding: 12px 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.input-send {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
    display: block;
}

.button {
    background-color: #000;
    border: 1px #F0F1F4;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 30px;
    width: 840px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-block-start: 20px;

}
.communicatios{
    
    padding: 80px 40px 75px 40px;
    width: 20%;
    margin-left: 120px;
    margin-top: 100px;

margin-right: 10px;
   
}
.communicatios:hover{
    border: 1px solid #000; 
     
}
.c-map{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    

}
.map-title{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}
.adress{
    font-size: 15px;
    color: #6e6e6e;
    font-family: 'Raleway', sans-serif;
}
.hotline{
    
    padding: 80px 40px 75px 40px;
    width: 20%;
    margin-left: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    margin-right: 50px;
}
.end-main{
    display: flex;

}
.hotline:hover{
    border: 1px solid #000; 
}
.line-title{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}
.line-number{
    font-size: 15px;
    color: #6e6e6e;
    font-family: 'Raleway', sans-serif;
}
.quality-support:hover{
    border: 1px solid #000; 
}
.quality-support{
    padding: 80px 40px 75px 40px;
    width: 20%;
    margin-top: 100px;
    margin-left: 20px;
margin-right: 120px;
font-size: 50px;
display: flex;
    flex-direction: column;
    text-align: center;
}
.support-title{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Nanum Gothic', sans-serif;  
}
.support-text{
    font-size: 15px;
    color: #6e6e6e;
    font-family: 'Raleway', sans-serif;
}
