@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    margin: 0 5rem;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 1rem;
}

.navbar .nav-links ul li a {
    color: #000;
    font-weight: 700;
}

.navbar .nav-menu i {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: rgb(101, 95, 95);
}

.main-content {
    margin-bottom: 91px;

}

.title h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 27px;
    margin-left: 110px;
}

.title-writtings {
    margin-left: 110px;
    margin-block-start: 20px;
    width: 400px;
    font-family: 'Raleway', sans-serif;
    color: #6e6e6e;
    line-height: 30px;
    font-weight: 400;
    font-size: 15;
    margin-bottom: 20px;
}

.wb-starting {
    font-family: 'Raleway', sans-serif;
}

.details {
    margin-left: 110px;
    margin-block-start: 30px;
    width: 400px;
color: #6e6e6e;
}
.head{
   color: #6e6e6e;
   margin-block-end: 20px;
   font-family: 'Nanum Gothic', sans-serif;
}
.opening-hours{
    margin-left: 110px;
    margin-block-start: 30px;
    width: 400px;
color: #6e6e6e;

}
.op{
    color: #6e6e6e;
    margin-block-end: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}
